:root {
    --primary-text-color: #f2f2f2;
    --secondary-text-color: #bbb;
    --primary-background: #131313;
    --secondary-background: rgba(225, 225, 225, 0.04);
    --border-color: rgba(225, 225, 225, 0.1);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;   
    margin: 10 auto;
    padding: 0;
    background-color: var(--primary-background);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 20px;
    z-index: 3;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 500px;
    background-color: var(--secondary-background);
    border: 1px solid var(--border-color);
    border-radius: 50px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 17px;
    font-weight: 600;
}

nav ul li a:hover,
nav ul li a:active {
    color: var(--primary-text-color);
}

main {
    width: 1200px;
    margin: 0 auto;
    color: var(--primary-text-color);
}

.main-info {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 90px;
}

.main-info span {
    font-size: 70px;
    font-weight: bold;
    line-height: 1.2;
}

main .container {
    background-color: var(--secondary-background);
    border: 2px solid var(--border-color);
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

main .colors,
main .fonts,
main .text-styles {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main .color,
main .font,
main .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    text-align: center;
    border-radius: 10px;
}

main .color {
    height: 250px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
}

main .font {
    height: 200px;   
    width: 200px;
    font-size: 16px;
    text-align: left;
    padding-left: 40px;
    gap: 0px;
    background-color: var(--secondary-background);
    border: 1px solid var(--border-color);
}
